/.idea
/.vscode
/vendor
/node_modules
*.log

.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

composer.lock

.env
.env.backup
.env.test

/public/.htaccess
/public/.user.ini